<div class="container">
  <div class="row mt-4">
    <!--paneau gauche pour la liste détailé des langue de l'utilisateur-->
    <div class="col-lg-9 col-sm-9 col-9">
          <div class="col-12 col-lg-12 col-sm-12">
            <div class="modal_zone" >
              <p class="row">
                <span class="col text-center">
                  <span class="material-icons md-36">record_voice_over</span><br/><span class="text-danger">Niveau parlé</span>
                </span>
                <span class="col text-center">
                  <span class="material-icons md-36">explicit</span><br/><span class="text-danger">Niveau écrit</span>
                </span>
                <span class="col text-center">
                  <span class="material-icons md-36">people</span><br/><span class="text-danger">niveau compréhension</span>
                </span>
                <span class="badge rounded-circle py-4 px-3" [class]="isModalActive? 'badge-success':'badge-dark'">Modal</span> <!--indicateur du modal ouvert ou fermé-->
              </p>
            </div>
          </div>
          <!--liste scrollable pour les langues de l'utilisateur-->
          <div
            class="search-results mt-4"
            infiniteScroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle"
            [scrollWindow]="false"
            (scrolled)="onScroll()"
          >
              <div class="col-12 col-lg-12 col-sm-12 mt-3 d-flex justify-content-center" *ngFor="let languageObj of languages">
                <div class="btn btn-block badge-pill badge-light language_element" (dblclick)='openDetail(mymodal, languageObj)'>
                  <div class="row m-1">
                    <div class="col-3 text-left inline"><span class="material-icons">
                      language
                      </span><span class="align-top ml-2">{{languageObj.nom}}</span></div>
                    <div class="col-7 px-0">
                      <span class="col-4 inline"><span class="material-icons md-32" data-toggle="tooltip" data-placement="top" title="niveau parlé">record_voice_over</span><span class="align-top ml-1">: {{languageObj.niveauParle}}</span></span>
                      <span class="col-4 inline"><span class="material-icons md-32" data-toggle="tooltip" data-placement="top" title="niveau écrit">explicit</span><span class="align-top ml-1">: {{languageObj.niveauEcrit}}</span></span>
                      <span class="col-4 inline"><span class="material-icons md-32" data-toggle="tooltip" data-placement="top" title="niveau compréhension">people</span><span class="align-top ml-1">: {{languageObj.niveauCompris}}</span></span>
                    </div>
                    <div class="col-2">
                      <a class="text-primary" data-toggle="tooltip" data-placement="top" title="modifier les données de la langue" (click)='openDetail(mymodal, languageObj)' ><span class="material-icons">edit</span></a>
                      <a *ngIf="!languageObj.isCompulsoryLanguage" class="text-danger ml-4" data-toggle="tooltip" data-placement="top" title="supprimer la langue" (click)="deleteLanguage(languageObj)" ><span class="material-icons">delete</span></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <ng-template #mymodal let-modal>
          <div class="modal-header">
            <div class="modal-title h5 d-flex">
              <div class="inline">
                <span class="" id="modal-basic-title align-top">Détail de la langue</span> <span class="ml-3 align-baseline text-success material-icons">
                  language
                  </span> <span class="bold text-success align-top ml-1">{{languageToDetail.nom}}</span>
              </div>
            </div>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>niveau parle : {{languageToDetail.niveauParle}}.</p>
            <p>niveau écrit : {{languageToDetail.niveauEcrit}}.</p>
            <p>niveau comprehension : {{languageToDetail.niveauCompris}}.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Ok</button>
          </div>
          </ng-template>
    </div>
    <!--paneau droit pour le choix de la langue de l'application-->
    <div class="col-lg-3 col-sm-3 col-3 container">
      <div class="border rounded shadow-sm row selection-group">
        <!--information utilisateur-->
        <div class="col-12 app-user-info mt-3">
          <p class="row">
            <span class="col-8 text-small">FOKAM TAMKO STEPAHANE</span>
            <span class="col-4">
              <span class="material-icons md-48">account_circle</span>
            </span>
            <span class="col-12 text-right"><a href="https://twitter.com/FlywingsS" class="h5 text-secondary pull-right" target="_blank">@Flywings</a></span>
          </p>

        </div>
        <div class="col-12 my-3" style="border:0.4px solid #A21B26;"></div>
        <div class="col-12 inline text-center"><span class="material-icons">language</span><span class="ml-1 align-top">Langue de l'application</span></div>
        <!--selection langue d'application-->
        <div class="col-12 px-0 text-center app-language-selection">
          <!--group checkbox buttons-->
          <div class="btn-group-vertical col-12 px-0">
              <button type="button" class="btn btn-sm btn-secondary p-2"   *ngFor="let lang of languages" [class]=" lang.isAppCurrentLanguage ? 'active' : '' " #buttonItem (click)="languageSelection(buttonItem)" >{{lang.nom}}</button>
          </div>
        </div>
        <div class="col-12 my-3" style="border:0.4px solid #A21B26;"></div>
        <!--bouton ajout langue-->
        <div class="col-12 text-center app-language-add mb-3">
          <a class="offset-1 col-10 btn btn-sm btn-outline-danger border-0 d-flex inline" (click)="openCreate(myAddLangModal)">
            <span class="material-icons md-36">add_circle_outline</span>
            <span class="ml-1 text-left mt-2 h6">Ajouter une Langue</span>
          </a>
        </div>
      </div>

      <ng-template #myAddLangModal let-modal>
        <div class="modal-header">
          <div class="modal-title h5 d-flex">
            <div class="inline">
              <span class="" id="modal-basic-title align-top">Ajout d'une nouvelle langue</span>
            </div>
          </div>
          <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group" >
              <label for="nom">Nom de la langue:</label>
              <select type="text" class="form-control" [(ngModel)]="newLanguage.selected_name_id" name="selected_name_id">
                <option *ngFor="let lang of languagesNames" value="{{lang.guid}}">{{lang.name}}</option>
              </select>
            </div>
            <div class="form-group" >
              <label for="niveauParle">Niveau parlé:</label>
              <select type="text" class="form-control" [(ngModel)]="newLanguage.selected_talk_id" name="selected_talk_id">
                <option *ngFor="let level of levelIndicators" value="{{level.guid}}">{{level.name}}</option>
              </select>
            </div>
            <div class="form-group" >
              <label for="niveauEcrit">Niveau écrit:</label>
              <select type="text" class="form-control" [(ngModel)]="newLanguage.selected_write_id" name="selected_write_id">
                <option *ngFor="let level of levelIndicators" value="{{level.guid}}">{{level.name}}</option>
              </select>
            </div>
            <div class="form-group" >
              <label for="niveauCompris">Niveau compréhension:</label>
              <select type="text" class="form-control" [(ngModel)]="newLanguage.selected_understand_id" name="selected_understand_id">
                <option *ngFor="let level of levelIndicators" value="{{level.guid}}">{{level.name}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="saveNewLanguage(newLanguage)">Sauvegarder</button>
        </div>
        </ng-template>
    </div>
  </div>
</div>
